



<div class="f-page w-full flex h-screen gap-[5vw]">
  <div class="media overflow-hidden h-full absolute top-0 left-0 w-full sm:w-[35vw] sm:relative -z-10 sm:z-10">
    <video src="video/vecteezy_happy-child-back-to-school_37210123.mp4" autoplay muted loop 
    class="w-full h-full relative object-cover"></video>
  </div>
  <div class="meta  overflow-auto  bg-white bg-opacity-50 sm:bg-none sm:bg-opacity-0 w-full sm:w-[60vw]">
    <div class="container pt-16">
      <h1 class="font-bold text-2xl mb-6">Forget Password?</h1>
      <form
        [formGroup]="forgetForm"
        (ngSubmit)="onSubmit()"
        class="space-y-3 grid grid-cols-2 gap-x-5"
      >
      @if (loading) {
        <app-loader></app-loader>
        } @else {
        <!-- Email Field -->
        <div class="col-span-2">
          <input id="email" type="text" formControlName="email" required="" />
          <label alt="Email" placeholder="Email"></label>
          <div
            *ngIf="
              forgetForm.get('email')?.invalid &&
              forgetForm.get('email')?.touched
            "
            class="text-sm text-red-600 mt-1"
          >
            Please enter a valid email.
          </div>
        </div>


        <!-- Submit Button -->
        <div class="col-span-2">
            <button
              type="submit"
              [disabled]="forgetForm.invalid"
              class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-custom-blue hover:bg-dark-blue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-custom-blue disabled:bg-gray-300 disabled:cursor-not-allowed"
            >
              Request OTP
            </button>
          </div>
        }
      </form>
      <p>
        already have an account?
        <button class="text-custom-blue font-bold hover:underline" (click)="goToLoginPage()">
          login
        </button>
      </p>
    </div>
  </div>
</div>

