@if(loading) {
    <app-loader class="mt-32"></app-loader>
} @else {

    <div class="min-h-screen  bg-gradient-to-b from-custom-blue to-white flex items-center justify-center p-6 px-20">
        <!-- Profile Card -->
        <div class="relative w-full aspect-[16/9] sm:h-96">
          <!-- Background Image -->
          @if(company?.background_url){
            <div
              class="w-full bg-cover bg-center rounded-2xl sm:w-3/4 h-full object-cover mx-auto border-4 border-indigo-800 mb-4 transition-transform duration-300 hover:scale-105"
              [ngStyle]="{'background-image': 'url(' + company?.background_url + ')'}"
            ></div>
        } @else {
            <div
            class="w-full bg-cover bg-center rounded-2xl sm:w-3/4 h-full object-cover mx-auto border-4 border-indigo-800 mb-4 transition-transform duration-300 hover:scale-105"
            [ngStyle]="{'background-image': 'url(photo/white-2172682_1920.jpg)'}"
            ></div>
         }
          <!-- Profile Content -->
          <div class="p-6">
            <!-- Profile Image -->
            <div class="flex justify-center sm:justify-start -mt-24">
              <img class="w-32 h-32 rounded-full border-4 shadow-lg  z-50  sm:w-32 sm:h-32 mx-auto border-indigo-800 mb-4 transition-transform duration-300 hover:scale-105" [src]="company?.image_url || 'photo/user.png'" alt="Profile Image">
            </div>
      
            <!-- Name and Job Title -->
            <div class="text-center mt-4">
              <h1 class="text-3xl font-bold text-teal-700">{{company?.first_name + " "+ company?.last_name || 'no company name provided'}}</h1>
              <!-- <p class="text-lg text-gray-600">{{company?.job?.name || 'unknown'}}</p> -->
            </div>
      
            <!-- Description -->
            <div class="mt-6 text-center text-gray-700">
              <p>
                {{company?.description || 'No description provided'}}
              </p>
            </div>
      
            <!-- Location -->
            <div class="mt-4 text-center text-gray-600">
              <p>{{company?.location || 'no location provided'}}</p>
            </div>
      
          </div>
          @if(mainUser){
            <button class="bg-teal-700 hover:bg-teal-900 p-3 m-3 rounded-md text-white" routerLink="/page/account">update Account</button>
            <button routerLink="myJobs" class="bg-teal-700 hover:bg-teal-900 p-3 m-3 rounded-md text-white">My Jobs</button>
          } @else {
            <button class="bg-teal-700 hover:bg-teal-900 p-3 m-3 rounded-md text-white">Get Contact</button>
          }
        </div>
      </div>
}
