
<!-- 
@if (notification.isFound) {
  <app-notification [attr.role]="notification.status">{{notification.message}}</app-notification>
} -->


<div class=" w-full flex h-screen gap-[5vw]">
  <div
    class="media overflow-hidden h-full absolute top-0 left-0 w-full sm:w-[35vw] sm:relative -z-10 sm:z-10"
  >
    <video
      src="video/vecteezy_happy-child-back-to-school_37210123.mp4"
      autoplay muted loop
      class="w-full h-full relative object-cover"
    ></video>
  </div>
  <div
    class="meta overflow-auto bg-white bg-opacity-50 sm:bg-none sm:bg-opacity-0 w-full sm:w-[60vw]"
  >
    <div class="container pt-16">
      <h1 class="font-bold text-2xl mb-6">Reset Password</h1>
      <form
        [formGroup]="resetForm"
        (ngSubmit)="onSubmit()"
        class="space-y-3 grid grid-cols-2 gap-x-5"
      >
        @if (loading) {
        <app-loader></app-loader>
        } @else {
        <!-- Token Field -->
        <div class="col-span-2">
          <input id="token" type="text" formControlName="token" required=""/>
          <label alt="token" placeholder="token"></label>

          <div
            *ngIf="resetForm.get('token')?.errors?.['required']&& resetForm.get('token')?.touched"
            class="text-sm text-red-600 mt-1"
          >
            Code is required.
          </div>
          <div
            *ngIf="resetForm.get('token')?.touched && (resetForm.get('token')?.errors?.['pattern'])"
            class="text-sm text-red-600 mt-1"
          >
            Code must be 6 numbers
          </div>
        </div>

        <!-- Password Field -->
        <div class="col-span-1">
          <input
            id="password"
            type="password"
            formControlName="password"
            required=""
          />
          <label alt="Password" placeholder="Password"></label>
          <div
            *ngIf="resetForm.get('password')?.errors?.['required'] && resetForm.get('password')?.touched"
            class="text-sm text-red-600 mt-1"
          >
            Password is required.
          </div>
          <div
            *ngIf="!resetForm.get('password')?.errors?.['required'] &&
                resetForm.get('password')?.touched &&
                resetForm.get('password')?.errors?.['minlength']"
            class="text-sm text-violet-600 mt-1 font-bold"
          >
            Password must be at least 8 Characters
          </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="col-span-1">
          <input
            required=""
            type="password"
            formControlName="password_confirmation"
          />
          <label alt="Confirm" placeholder="Confirm"></label>
          <div
            *ngIf="(resetForm.hasError('passwordMismatch') &&
                resetForm.get('password_confirmation')?.touched &&
                !resetForm.get('password_confirmation')?.errors?.['required'])"
            class="text-sm text-red-600 mt-1"
          >
            Passwords do not match.
          </div>
          <div
            *ngIf="(resetForm.get('password_confirmation')?.touched && 
              resetForm.get('password_confirmation')?.errors?.['required'])"
            class="text-sm text-red-600 mt-1"
          >
            Password confirmation is required.
          </div>
        </div>

        <!-- Submit Button -->
        <div class="col-span-2">
          <button
            type="submit"
            [disabled]="resetForm.invalid"
            class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm 
            text-sm font-medium text-white bg-custom-blue hover:bg-dark-blue focus:outline-none 
            focus:ring-2 focus:ring-offset-2 focus:ring-custom-blue disabled:bg-gray-300 disabled:cursor-not-allowed"
          >
            Request OTP
          </button>
        </div>
        }
      </form>
    </div>
  </div>
</div>
