

@if (notification.isFound) {
  <app-notification [attr.role]="notification.status">{{notification.message}}</app-notification>
}


 @if(loading){
    <app-loader></app-loader>
 } @else {

<div class="grid grid-cols-1 md:grid-cols-5 lg:grid-cols-4 bg-white rounded h-[calc(100vh-52px)] lg:h-[calc(100vh-72px)]">
  <div [class.bg-white]="chatMobileChange"
  class="fixed py-2 px-3 border-2 border-custom-blue md:hidden bg-custom-blue rounded-full right-5 top-14 cursor-pointer" (click)="onchatMobileChange()"><i class="fa-solid fa-list"></i></div>
  <div [ngClass]="{'hidden': chatMobileChange}"
  class="md:col-span-2 lg:col-span-1 flex md:!flex flex-col h-full bg-white rounded shadow-md overflow-y-auto">
    <!-- <h2 class="text-xl font-bold mb-4">Chat List</h2> -->
    <div class="overflow-y-auto flex-grow">
      <ul class="list-none p-0 m-0">
        <li class="p-5 pb-0">
          <input type="text" (keyup)="onSearchContractor()" [(ngModel)]="searchTerm" placeholder="Search..." 
            class=" !p-3 !rounded-full !border-2 !border-custom-blue focus:outline-none focus:border-custom-blue" />
        </li>
        <li class="flex justify-around pb-3">
          <button (click)="onChangeChatType('company')" 
          class="border-custom-blue border-2 py-2 px-7 rounded-full text-gray-500 hover:bg-gray-100"
          [ngClass]="{'bg-custom-blue' : chatType == 'company', 'hover:!bg-dark-blue': chatType == 'company', 'text-white': chatType == 'company'}"
          >Company</button>
          <button (click)="onChangeChatType('user')" 
          class="border-custom-blue border-2 py-2 px-7 rounded-full text-gray-500 hover:bg-gray-100"
          [ngClass]="{'bg-custom-blue' : chatType == 'user', 'hover:!bg-dark-blue': chatType == 'user', 'text-white': chatType == 'user'}"
          >User</button>
        </li>
        @for(contactor of contactorsFiltered; track $index){
          @if(chatType == contactor.type){
        <li (click)="getChatWithSomeone(contactor.id)" (click)="onChangeChatAgain()"
          [class.bg-chat]="receiverId === contactor?.id"
          class="p-3 cursor-pointer border-b-[1px] transition duration-200 ease-in-out flex items-center gap-x-2">

          <!-- <div class="font-bold"><img [src]="contactor?.image || 'photo/user.png'" class="rounded-full w-12" alt="">
          </div> -->

        @if (contactor.image) {
          <img
            [src]="contactor?.image"
            alt="{{ contactor?.image }} {{ contactor?.image }}"
            class="w-12 rounded-full"
          />
        }
        @else {
          <!-- <img src="photo/user.png" alt="Profile Picture" class="w-24 h-24 rounded-full border-4 border-white"> -->
          <div class=" w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center text-xl font-semibold text-gray-600"
          >{{contactor?.first_name[0].toUpperCase() + contactor.last_name[0].toUpperCase()}}</div>
        }



          <div class="text-lg text-black font-bold">{{ contactor?.first_name + ' ' + contactor?.last_name }}</div>
        </li>
      }
      }
      </ul>
    </div>


  </div>
  <!-- Chat Section -->
  <div [ngClass]="{'hidden': !chatMobileChange}"
  class="chat-section md:col-span-3 flex md:!flex flex-col h-full bg-chat rounded shadow-md overflow-y-auto">
    <!-- <h2 class="text-xl font-bold mb-4">Chat with User {{ receiverId }}</h2> -->
    <div class="bg-white flex gap-x-2 items-center p-3 rounded-b-3xl" *ngIf="userChat">
      <!-- <img [src]="userChat.image || 'photo/user.png'" class="w-12 rounded-full" alt=""> -->


        @if (userChat.image) {
          <img
            [src]="userChat?.image"
            alt="{{ userChat?.image }} {{ userChat?.image }}"
            class="w-12 rounded-full"
          />
        }
        @else {
          <!-- <img src="photo/user.png" alt="Profile Picture" class="w-24 h-24 rounded-full border-4 border-white"> -->
          <div class=" w-12 h-12 rounded-full bg-gray-200 flex items-center justify-center text-xl font-semibold text-gray-600"
          >{{userChat?.first_name[0].toUpperCase() + userChat.last_name[0].toUpperCase()}}</div>
        }
      
      <p class="font-bold">{{userChat.first_name + ' '+ userChat.last_name}}</p>
    </div>
    <div class="overflow-y-auto p-4 bg-chat flex-grow" #scrollContainer>
      <div *ngFor="let chat of messages" class="w-fit my-2" [class.ml-auto]="chat?.is_mine"
       >
        <!-- <div class="flex items-center gap-x-2 mb-2">
          <div class="font-bold"><img [src]="chat?.sender?.image || 'photo/user.png'" class="rounded-full w-7" alt="">
          </div>
          <div class="font-bold text-xs mb-1">{{ chat?.sender?.first_name + ' ' + chat?.sender?.last_name }}</div>
        </div> -->
        <div  [class.bg-custom-blue]="chat?.is_mine" [class.ms-10]="chat?.is_mine" [class.bg-white]="!chat?.is_mine" [class.me-10]="!chat?.is_mine"
        class="mb-3 py-2 px-3 rounded-xl">{{ chat?.message }}</div>
        <div class="text-xs text-gray-500 mt-1" [class.text-end]="chat?.is_mine" [class.text-start]="!chat?.is_mine">{{ chat?.sent_at | date:'dd MMMM - HH:mm' }}</div>
      </div>
    </div>

    @if(userChat) {
    <form (submit)="sendMessage()" class="flex gap-2 p-5 bg-[#F4F9FA] rounded-t-3xl" >
      <input type="text" [(ngModel)]="newMessage" name="message" class="flex-1 !m-0 !border-2 !border-custom-blue !rounded-full"
        placeholder="Type a message...">
      <button type="submit" class="bg-custom-blue rounded-full text-white px-4 py-2  hover:bg-dark-blue">Send</button>
    </form>
    }

  </div>
</div>

}