
<div class="body relative h-screen w-full overflow-hidden">
    <div #lottieContainer class="absolute top-0 left-0 w-full h-full object-cover"></div>

    <!-- <video src="video/vid2.mp4" autoplay muted loop
      class="absolute top-0 left-0 w-full h-full object-cover">
    </video> -->
    <div class="absolute top-32 left-10 z-10 text-white">
      <h1 class="font-bold text-xl w-[75vw] sm:text-4xl sm:w-[50vw] leading-snug">Welcome to <span class="text-dark-blue">FlexiHire</span> – Your Gateway to Flexible Hiring Solutions</h1>
      <div class="my-5 btns flex flex-col xs:flex-row">
        <button (click)="onUpdatePageStatus('register')" class="p-3 m-3 bg-custom-blue font-semibold rounded-lg hover:bg-sky-900 transition">Create an account</button>
        <button (click)="onUpdatePageStatus('login')" class="p-3 m-3 bg-dark-blue  font-semibold rounded-lg hover:bg-sky-900 transition">Sign In</button>
      </div>
    </div>
  </div>
