

@if (notification.isFound) {
<app-notification
    [attr.role]="notification.status">{{notification.message}}</app-notification>
}

<div
    class="page bg-gradient-to-b from-custom-blue to-white min-h-screen overflow-hidden ">

    @if(loading){
    <app-loader></app-loader>
    } @else {

    <div class="container max-w-full text-center sm:text-start">

        @for(job of savedJobs; track $index){

        <!-- job content box -->

        <div
            class="relative border-custom-blue bg-white p-4 py-16 sm:p-8 my-16 w-full rounded-lg shadow-lg space-y-3 sm:space-y-1.5">
            <!-- company logo -->
            <!-- <figure class="float-none sm:float-end items-end inline-block cursor-pointer" [routerLink]="'/page/companies/'+ job.user.id">
        @if (job.user.image_url) {
            <img
                [src]="job.user.image_url"
                alt="{{ job.user.first_name }} {{ job.user.last_name }}"
                class="w-24 h-24 rounded-full"
            />
            }
            @else {
                <img src="photo/user.png" alt="Profile Picture" class="w-24 h-24 rounded-full">
        }       
    </figure> -->

            <!-- save job -->
             @if(user.user.roles[0] == 'user'){
            <div class="absolute top-7 right-7">
                <button class="text-black/80 hover:text-cyan-500"
                    (click)="saveJob(job.job.id)">
                    <i class="fa-solid fa-bookmark text-3xl"></i>
                </button>
            </div>
            }
            <!-- title  -->
            <h1
                class="text-xl font-bold text-black hover:underline cursor-pointer"
                [routerLink]="'/page/jobs/'+ job.job.id">{{job.job.title}}</h1>
            <!-- name of company and location -->
            <div class="flex items-center gap-2 text-gray-500">
                <span class=" cursor-pointer"
                    [routerLink]="'/page/companies/'+ job.job.user.id">{{job.job.user.first_name
                    +' '+ job.job.user.last_name}}. </span>
                <img src="photo/loc.png" class="w-5 ms-2" alt>
                <span class>{{job.job.location}}</span>
            </div>
            <!-- type -->
            <!-- <div class="space-x-3">
        <span class="bg-gray-300 p-1 rounded">Full Time</span>
        <span class="bg-gray-300 p-1 rounded">Hybrid</span>
    </div> -->
            <!-- description -->
            <div class=" text-justify line-clamp-4"
                [innerHTML]="getSafeHtml(job.job.description)"></div>
            <!-- Salary -->
            <div>
                <p class="text-cyan-500 font-bold">Salary: {{job.job.min_salary |
                    currency:'USD' :'symbol':'1.0-0' }} - {{ job.job.max_salary |
                    currency:'USD' :'symbol':'1.0-0' }} &nbsp;
                    {{job.job.salary_negotiable ? ' (Negotiable)' :
                    ' (Not-Negotiable)'}}</p>
            </div>
            <!-- skills required -->
            <!-- <h2 class="font-bold">skills required</h2> -->
            <div class="flex flex-wrap ">
                @for(skill of job.job.skills; track $index){
                @if($index < 5){
                <span
                    class="self-center p-1 sm:p-2 m-1 sm:m-2 text-sm sm:text-base border bg-custom-blue/70 rounded-full  hover:bg-dark-blue">
                    {{skill}} </span>
                }@else if($index == 5){
                <span
                    class="p-2 m-2 border bg-custom-blue rounded-lg  hover:bg-dark-blue">
                    +{{job.job.skills.length - 5}} </span>
                }
                }
                <!-- date -->
                <p class="text-gray-500 absolute bottom-4 right-4">posted on:
                    {{job.job.date_posted | date}}</p>
            </div>

        </div>
        }

    </div>
    }